<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<!--<title> Responsiive Admin Dashboard | CodingLab </title>-->


<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
	crossorigin="anonymous">
<!-- Boxicons CDN Link -->
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'
	rel='stylesheet'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="static/css/index.css"
	th:href="@{/css/index.css}">
</head>
<body>
	<div class="sidebar">
		<div class="logo-details">
			<i class='bx bx-bar-chart-square'></i> <span class="logo_name">Innovatech</span>
		</div>
		<ul class="nav-links">
		
			
			<li><a href="index.html" th:href="@{/index}"> <i class='bx bx-home' ></i><span
					class="links_name">Inicio</span>
			</a></li>
			<li><a th:href="@{/listar2}"  ><i class='bx bx-male'></i> <span
					class="links_name">Caballero</span>
			</a></li>
			<li><a  th:href="@{/listar3}"> <i class='bx bx-female' ></i><span
					class="links_name">Dama</span>
			</a></li>
			<li><a th:href="@{/listar4}" > <i class='bx bx-football' ></i><span
					class="links_name">Niño</span>
			</a></li>
			<li><a th:href="@{/listar5}" class="active" > <i class='bx bxs-star'></i> <span
					class="links_name">Niña</span>
			</a></li>
		
	
			<li><a th:href="@{/domicilios}"> <i class='bx bx-archive' ></i><span
					class="links_name">Compras</span>
			</a></li>
		<li class="log_out"
				th:onclick="return confirm('¿Seguro de que quieres salir?');"><a
				th:href="@{/logout}"> <i class='bx bx-log-out'></i> <span
					class="links_name" data-toggle="modal" data-target="#exampleModal">Salir</span>



			</a></li>
		</ul>
	</div>
	<section class="home-section">
		<nav>
			<div class="sidebar-button">
				<i class='bx bx-menu sidebarBtn'></i> <img src="static/img/logo.png"
					th:src="@{/img/logo.png}" />
			</div>

			<div class="profile-details">
			
			</div>
		</nav>


		<div class="home-content">
			<div class="overview-boxes">
				<div class="py-4 ml-5 mr-5">
					<div class="card bg-light">
						<div class="card-body">
							<h5>Productos para niña</h5>
							<br>
							<h4 class="card-title">

								<a 
									th:href="@{/exportarPDF}" sec:authorize="hasRole('ADMIN')" class="btn btn-secondary">Exportar
									a PDF</a> <a sec:authorize="hasRole('ADMIN')"
									th:href="@{/exportarExcel}" class="btn btn-success">Exportar
									a Excel</a>

							</h4>
							<table class="table table-striped">
								<thead>
									<tr>
										<th>ID</th>
										<th>Proveedor</th>
										<th>Nombre</th>
										<th>Marca</th>

										<th>Fecha</th>
										<th>Stock</th>
										<th>Estado</th>
										<th>Precio</th>
										<th>Detalles</th>
										<th sec:authorize="hasRole('ADMIN')">Editar</th>
										<th sec:authorize="hasRole('ADMIN')">Eliminar</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="empleado : ${empleados}">
										<td th:text="${empleado.id}"></td>
										<td th:text="${empleado.email}"></td>
										<td th:text="${empleado.nombre}"></td>
										<td th:text="${empleado.apellido}"></td>

										<td th:text="${empleado.fecha}"></td>
										<td th:text="${empleado.telefono}"></td>
										<td th:text="${empleado.sexo}"></td>
										<td th:text="${empleado.salario}"></td>
										<td><a class="btn btn-info btn-sm"
											th:href="@{/ver5/} + ${empleado.id}">Detalles</a></td>
										<td sec:authorize="hasRole('ADMIN')"><a
											class="btn btn-warning btn-sm"
											th:href="@{/form2/} + ${empleado.id}">Editar</a></td>
										<td sec:authorize="hasRole('ADMIN')"><a
											class="btn btn-danger btn-sm"
											th:href="@{/eliminar/} + ${empleado.id}"
											th:onclick="return confirm('¿Estás seguro de eliminar este producto? esta acción no se puede deshacer.');">Eliminar</a></td>
									</tr>
								</tbody>
							</table>
							
							<nav th:replace="paginator-nav :: paginator"></nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script
		src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
		crossorigin="anonymous"></script>

	<script>
		let sidebar = document.querySelector(".sidebar");
		let sidebarBtn = document.querySelector(".sidebarBtn");
		sidebarBtn.onclick = function() {
			sidebar.classList.toggle("active");
			if (sidebar.classList.contains("active")) {
				sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
			} else
				sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
		}
	</script>

</body>
</html>

